<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Yireo_GoogleTagManager2" setup_version="0.2.0">
        <sequence>
            <module name="Magento_Store"/>
        </sequence>
    </module>
</config>
