<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <googletagmanager2>
            <settings>
                <enabled>0</enabled>
                <id/>
                <debug>0</debug>
                <wait_for_ui>0</wait_for_ui>
                <category_products>3</category_products>
                <product_eav_attributes>material</product_eav_attributes>
                <category_eav_attributes>id,name</category_eav_attributes>
                <customer_eav_attributes>id</customer_eav_attributes>
                <view_cart_occurances>everywhere</view_cart_occurances>
                <view_cart_on_mini_cart_expand_only>0</view_cart_on_mini_cart_expand_only>
                <product_list_value_on_category>product_first_category</product_list_value_on_category>
                <order_states_for_purchase_event>payment_review,pending_payment,holded,processing,complete</order_states_for_purchase_event>
            </settings>
        </googletagmanager2>
    </default>
</config>
