<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <googletagmanager2>
            <settings>
                <enabled>0</enabled>
                <id/>
                <debug>0</debug>
                <category_products>3</category_products>
                <product_eav_attributes>price</product_eav_attributes>
                <category_eav_attributes>id,name</category_eav_attributes>
                <customer_eav_attributes>id</customer_eav_attributes>
            </settings>
        </googletagmanager2>
    </default>
</config>
