<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tagging\GTM\Api\OrderCommentControllerInterface" type="Tagging\GTM\Controller\OrderCommentController"/>
    <preference for="Tagging\GTM\Api\CheckoutSessionDataProviderInterface" type="Tagging\GTM\SessionDataProvider\CheckoutSessionDataProvider"/>
    <preference for="Tagging\GTM\Api\CustomerSessionDataProviderInterface" type="Tagging\GTM\SessionDataProvider\CustomerSessionDataProvider"/>
    <preference for="Tagging\GTM\Api\OrderNotesInterface" type="Tagging\GTM\Model\OrderNotes"/>

    <type name="Tagging\GTM\Logger\Debugger">
        <arguments>
            <argument name="logger" xsi:type="object">Tagging\GTM\Logger\CustomLogger</argument>
        </arguments>
    </type>

    <type name="Tagging\GTM\DataLayer\Mapper\ProductDataMapper">
        <arguments>
            <argument name="dataLayerMapping" xsi:type="array">
                <item name="item_brand" xsi:type="string">item_manufacturer</item>
            </argument>
        </arguments>
    </type>

    <virtualType type="Magento\Framework\Logger\Monolog" name="Tagging\GTM\Logger\CustomLogger">
        <arguments>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Tagging\GTM\Logger\CustomLogHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType type="Magento\Framework\Logger\Handler\Base" name="Tagging\GTM\Logger\CustomLogHandler">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/Tagging_GTM.log</argument>
        </arguments>
    </virtualType>

    <type name="Tagging\GTM\Config\XmlConfig">
        <arguments>
            <argument name="dataStorage" xsi:type="object">Tagging\GTM\Config\XmlConfig\VirtualData</argument>
        </arguments>
    </type>

    <virtualType name="Tagging\GTM\Config\XmlConfig\VirtualData" type="Magento\Framework\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">Tagging\GTM\Config\XmlConfig\Reader</argument>
            <argument name="cacheId" xsi:type="string">data_layer</argument>
        </arguments>
    </virtualType>

    <type name="Tagging\GTM\Config\XmlConfig\Reader">
        <arguments>
            <argument name="fileName" xsi:type="string">data_layer.xml</argument>
            <argument name="converter" xsi:type="object">Tagging\GTM\Config\XmlConfig\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Tagging\GTM\Config\XmlConfig\SchemaLocator</argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="tagging_gtm_order_repository_plugin" type="Tagging\GTM\Plugin\OrderRepositoryPlugin" />
    </type>

    <type name="Magento\Csp\Api\PolicyCollectorInterface">
        <arguments>
            <argument name="collectors" xsi:type="array">
                <item name="dynamic_tagging_collector" xsi:type="object">Tagging\GTM\Model\Collector\DynamicTaggingCollector</item>
            </argument>
        </arguments>
    </type>
</config>
