<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="AdPage_GTM::addProductDetails" type="AdPage\GTM\Plugin\AddProductDetails"/>
    </type>

    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="AdPage_GTM::addDataToCustomerSection" type="AdPage\GTM\Plugin\AddDataToCustomerSection"/>
    </type>

    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="AdPage_GTM::addAdditionalDataToCartSection" type="AdPage\GTM\Plugin\AddDataToCartSection"/>
    </type>

    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="AdPage_GTM::getProductsFromCategoryBlockPlugin" type="AdPage\GTM\Plugin\GetProductsFromCategoryBlockPlugin"/>
    </type>

    <type name="Magento\CatalogSearch\Controller\Result\Index">
        <plugin name="AdPage_GTM::TriggerViewSearchResultDataLayerEvent" type="AdPage\GTM\Plugin\TriggerViewSearchResultDataLayerEvent"/>
    </type>

    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="gtm-checkout" xsi:type="string">AdPage\GTM\CustomerData\GtmCheckout</item>
            </argument>
        </arguments>
    </type>
</config>
