<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="Yireo_GoogleTagManager2::addDataToCustomerSection" type="Yireo\GoogleTagManager2\Plugin\AddDataToCustomerSection"/>
    </type>

    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="Yireo_GoogleTagManager2::addAdditionalDataToCartSection" type="Yireo\GoogleTagManager2\Plugin\AddDataToCartSection"/>
    </type>

    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="Yireo_GoogleTagManager2::getProductsFromCategoryBlockPlugin" type="Yireo\GoogleTagManager2\Plugin\GetProductsFromCategoryBlockPlugin"/>
    </type>

    <virtualType name="Yireo\GoogleTagManager2\DataLayer\Tag\Product\VirtualCurrentProductWithProductPrefix" type="Yireo\GoogleTagManager2\DataLayer\Tag\Product\CurrentProduct">
        <arguments>
            <argument name="prefix" xsi:type="string">product</argument>
        </arguments>
    </virtualType>

    <virtualType name="Yireo\GoogleTagManager2\DataLayer\Tag\Category\VirtualCurrentCategoryWithCategoryPrefix" type="Yireo\GoogleTagManager2\DataLayer\Tag\Category\CurrentCategory">
        <arguments>
            <argument name="prefix" xsi:type="string">category</argument>
        </arguments>
    </virtualType>
</config>
