<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="Tagging_GTM::addAdditionalLayoutHandles" instance="Tagging\GTM\Observer\AddAdditionalLayoutHandles" />
    </event>

    <event name="sales_quote_remove_item">
        <observer name="Tagging_GTM::triggerRemoveFromCartDataLayerEvent" instance="Tagging\GTM\Observer\TriggerRemoveFromCartDataLayerEvent" />
    </event>

    <event name="customer_data_object_login">
        <observer name="Tagging_GTM::triggerLoginDataLayerEvent" instance="Tagging\GTM\Observer\TriggerLoginDataLayerEvent" />
    </event>

    <event name="customer_logout">
        <observer name="Tagging_GTM::triggerLogoutDataLayerEvent" instance="Tagging\GTM\Observer\TriggerLogoutDataLayerEvent" />
    </event>

    <event name="customer_register_success">
        <observer name="Tagging_GTM::triggerSignUpDataLayerEvent" instance="Tagging\GTM\Observer\TriggerSignUpDataLayerEvent" />
    </event>

    <event name="wishlist_add_product">
        <observer name="Tagging_GTM::triggerAddToWishlistDataLayerEvent" instance="Tagging\GTM\Observer\TriggerAddToWishlistDataLayerEvent" />
    </event>

    <event name="checkout_cart_add_product_complete">
        <observer name="Tagging_GTM::triggerAddToCartDataLayerEvent" instance="Tagging\GTM\Observer\TriggerAddToCartDataLayerEvent" />
    </event>

    <event name="sales_order_place_after">
        <observer name="Tagging_GTM::triggerPurchaseDataLayerEvent" instance="Tagging\GTM\Observer\TriggerPurchaseDataLayerEvent" />
    </event>
</config>
